/* .chart div {
  font: 10px sans-serif;
  background-color: #2283c9;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
} */

/* body { font: 12px Arial;}

path { 
    stroke: purple;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: blue;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


.focus line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
  stroke-dasharray: 3 3;
}

.overlay{
  fill:none;
}

/* select all */
/* .line{
  fill: none, 
  stroke: #2283c9, 
  'stroke-width': 1.5px;
} */

/* select */
/* .overlay{
  fill: none; 
  pointer-events: all; 
}

.focus{
  opacity: 0.7; 
}

.focus circle{
  fill: none; 
  stroke: black; 
} */ */


 /*  different below  */

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #2283c9;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: #2283c9;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: purple;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 20; 
}

circle{
  fill: #225fc9; 
}